<p id="notice"><%= notice %></p>

<h1 class="text-light">Tarifas</h1>

<input class="form-control me-2" type="search" placeholder="Filtrar [ex: verde]" aria-label="Search" id="searchTerm" onkeyup="doSearch()">
<div class="table-responsive">
<table id="dataTable" class="table table-hover bg-light mt-3 mb-5">
  <thead>
    <tr class="bg-dark text-light">
      <th class="text-center">Ano</th>
      <th class="text-center">Grupo</th>
      <th>Modalidade</th>
      <th>Mês</th>
      <th class="text-center">Acréscimo [R$]</th>
      <th class="text-center">PIS/COFINS [%]</th>
      <th class="text-center">ICMS [%]</th>
      <th class="text-center">Posto</th>
      <th class="text-center">Demanda [R$/kW]</th>
      <th class="text-center">Consumo [R$/kWh]</th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <% @tariffs.each do |tariff| %>
        <% if rate.ref == tariff.ano %>
          <% bg = mod_color(tariff) %>
          <% flag = flag_value(rate)[:flag] %>
          <% dem = final_value(tariff,rate,flag)[:dem] %>
          <% cons = final_value(tariff,rate,flag)[:cons] %>
          <% flag_var = (tariff.modalidade == "verde" and tariff.posto == "NA" ) %>
          <tr>
            <td class="text-center"><%= rate.ano.year %></td>
            <td class="text-center"><%= tariff.grupo %></td>
            <td class="<%= bg %>"><%= tariff.modalidade.upcase %></td>
            <td><%= month_name rate.mes %></td>
            <td class="text-center"><%= flag %></td>
            <td class="text-center"><%= rate.pis %></td>
            <td class="text-center"><%= rate.icms %></td>
            <td class="text-center"><%= tariff.posto %></td>
            <td class="text-center"><%= return_value dem %></td>
            <td class="text-center"><%= return_value cons %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>

<br>

<script>
function doSearch() {
  var input, filter, found, table, tr, td, i, j;
  input = document.getElementById("searchTerm");
  filter = input.value.toUpperCase();
  table = document.getElementById("dataTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td");
    for (j = 0; j < td.length; j++) {
      if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
        found = true;
      }
    }
    if (found) {
      tr[i].style.display = "";
      found = false;
    } else {
      tr[i].style.display = "none";
    }
  }
}
</script>
