<p id="notice"><%= notice %></p>

<h3 class="text-light">Base de Tarifas</h3>

<div class="table-responsive">
<table class="table table-hover bg-light mt-5 mb-5">
  <thead>
    <tr class="bg-dark text-light">
      <th class="text-center">Ano Referência</th>
      <th>Grupo</th>
      <th>Subgrupo</th>
      <th>Modalidade</th>
      <th>Subclasse</th>
      <th>Posto</th>
      <th>TUSD [R$/kW]</th>
      <th>TUSD [R$/MWh]</th>
      <th>TE [R$/MWh]</th>
    </tr>
  </thead>

  <tbody>
    <% @tariffs.each do |tariff| %>
      <% if tariff.modalidade == "azul" %>
         <% bg = "text-primary" %>
      <% elsif tariff.modalidade == "verde" %>
         <% bg = "text-success" %>
      <% elsif tariff.modalidade == "branca" %>
        <% bg = "text-dark" %>
      <% else %>
        <% bg = "table-warning" %>
      <% end %>
      <tr class="table-light">
        <td class="text-center"><%= tariff.ano.year %></td>
        <td class="text-center"><%= tariff.grupo %></td>
        <td class="text-center"><%= tariff.subgrupo %></td>
        <td class="<%= bg %>"><%= tariff.modalidade.capitalize %></td>
        <td class="text-center"><%= tariff.subclasse.upcase %></td>
        <td class="text-center"><%= tariff.posto %></td>
        <td class="text-center"><%= tariff.tusd_k %></td>
        <td class="text-center"><%= tariff.tusd_m %></td>
        <td class="text-center"><%= tariff.te %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
