<p id="notice"><%= notice %></p>

<p>
  <strong>Ano:</strong>
  <%= @tariff.ano %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @tariff.grupo %>
</p>

<p>
  <strong>Subgrupo:</strong>
  <%= @tariff.subgrupo %>
</p>

<p>
  <strong>Modalidade:</strong>
  <%= @tariff.modalidade %>
</p>

<p>
  <strong>Subclasse:</strong>
  <%= @tariff.subclasse %>
</p>

<p>
  <strong>Posto:</strong>
  <%= @tariff.posto %>
</p>

<p>
  <strong>Tusd k:</strong>
  <%= @tariff.tusd_k %>
</p>

<p>
  <strong>Tusd m:</strong>
  <%= @tariff.tusd_m %>
</p>

<p>
  <strong>Te:</strong>
  <%= @tariff.te %>
</p>

<%= link_to 'Edit', edit_tariff_path(@tariff) %> |
<%= link_to 'Back', tariffs_path %>
