<p id="notice"><%= notice %></p>

<h3 class="text-light">Parâmetros de Cálculo</h3>
<div class="table-responsive">
<table class="table table-hover bg-light mt-5 mb-5">
  <thead>
    <tr class="bg-dark text-light">
      <th>Ano</th>
      <th>Mês</th>
      <th>Referência</th>
      <th>Bandeira</th>
      <th>Acréscimo [R$]</th>
      <th>PIS [%]</th>
      <th>ICMS [%]</th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <% flag = flag_value(rate)[:flag] %>
      <% bg = flag_value(rate)[:bg] %>
      <tr>
        <td><%= rate.ano.year %></td>
        <td><%= rate.mes %></td>
        <td>ANEEL/<%= rate.ref.year %></td>
        <td class="<%= bg %>"><%= rate.bandeira.upcase %></td>
        <td><%= flag %></td>
        <td><%= rate.pis %></td>
        <td><%= rate.icms %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
