<p id="notice"><%= notice %></p>

<h3 class="text-light">Parâmetros de Cálculo</h3>
<table class="table table-hover table-striped bg-light mt-5 mb-5">
  <thead>
    <tr class="bg-dark text-light">
      <th>Ano</th>
      <th>Mês</th>
      <th>Referência</th>
      <th>Bandeira</th>
      <th>Acréscimo [R$]</th>
      <th>PIS [%]</th>
      <th>ICMS [%]</th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <% if rate.bandeira == "verde" %>
         <% bg = "text-success" %>
         <% flag = 0.00 %>
      <% elsif rate.bandeira == "amarela" %>
         <% bg = "text-warning" %>
         <% flag = 0.01343 %>
      <% elsif rate.bandeira == "vermelha p1" %>
        <% bg = "text-danger" %>
        <% flag = 0.04169 %>
      <% elsif rate.bandeira == "vermelha p2" %>
        <% bg = "text-danger" %>
        <% flag = 0.06243 %>
      <% else %>
        <% bg = "table-warning" %>
      <% end %>
      <tr>
        <td><%= rate.ano.year %></td>
        <td><%= rate.mes %></td>
        <td>ANNEL/<%= rate.ref.year %></td>
        <td class="<%= bg %>"><%= rate.bandeira.upcase %></td>
        <td><%= flag %></td>
        <td><%= rate.pis %></td>
        <td><%= rate.icms %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>